<div class="chat chat-start flex flex-col">
  <div class="flex">
    <h1 class="chat-header mr-2 text-white"><%= message.user.username %></h1>
    <time class="text-xs text-white"><%= message.created_at.strftime("%H:%M") %></time>
  </div>
  <div class="chat-bubble"><%= message.content %></div>
</div>

